<form action="/notes" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="cjK_r765haF_sXp1iKPbHwRJrB_RGbXWGh8CsTkkL9BZe2QWZlKSguYjP-X06-AYFK94E_7wsElLPNBpV3jMNQ" />
  <div class="field">
    <textarea name="note[note]" id="note_note">
</textarea>
  </div>
  <div class="actions">
    </br>
    </br>
    <input type="submit" name="commit" value="Add" data-disable-with="Create Note" />
  </div>
</form>


