<h2>Note <%= octicon "pencil", :height => 24 %></h2>

<form action="/notes" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="cjK_r765haF_sXp1iKPbHwRJrB_RGbXWGh8CsTkkL9BZe2QWZlKSguYjP-X06-AYFK94E_7wsElLPNBpV3jMNQ" />
  <div class="field">
    <textarea name="note[note]" id="note_note">
</textarea>
  </div>

  <!--Section for entering tags-->
  <h2>Tags <%= octicon "bookmark", :height => 24 %></h2>
  <input list="tagList">
  <datalist id="tagList">
    <% @keywords.each do |tag| %>
      <option value=<%= tag.tag %>>
    <% end %>
  </datalist>
  <!--End section for entering tags-->

</br>
</br>
  <div class="actions">
    <button type="submit" value="Submit"><%= octicon "check-circle-fill", :height => 48 %></button>
  </div>
</form>

