<p id="notice"><%= notice %></p>

<p>
  <strong>Note:</strong><br/>
  <%= @note.note %>
<br/><br/>
<!--  include tags too-->
  <strong>Tags:</strong><br/>
  <% @keywords.each do |tag| %>
    <%= tag.tag %><br/>
  <% end %>
</p>

