<%= form_with(model: notekeywordlink) do |form| %>
  <% if notekeywordlink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notekeywordlink.errors.count, "error") %> prohibited this notekeywordlink from being saved:</h2>

      <ul>
        <% notekeywordlink.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
