<form action="/keywords" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="j61Vj3vqbO-RBxzTcYx62luH3a-qVYmF-R9B18rtoCuQKKWLWHCCMVl8LO98Ns7ySgAzPJsvo6-Abj9x2mpfRA" />

  <div class="field">
    <input type="text" name="keyword[tag]" id="keyword_tag" />
  </div>

  <div class="actions">
  </br> </br>
    <button type="submit" value="Submit"><%= octicon "check-circle-fill", :height => 48 %></button>
  </div>
</form>
